.audioControls {
    position: absolute;    
    bottom: 0;
    right: 0;
    z-index: 10;
    width: 388px;
    height: 198px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    overflow: hidden;
    padding: 3%;

    #spline-canvas {
        width: 100%;
        height: auto;
    }

    // #audioToggle {
    //     position: absolute;
    //     bottom: 0;
    //     right: 0;
    //     z-index: 12;
    // }
}

.btn {
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: background-color .15s ease-in-out;

    &:hover {
        background-color: lighten(navy, 10)
    }
}